$sarala: 'Sarala', sans-serif;

body{
    font-family: $sarala;
    color: #ffffff;
}

html {
    background-color: #2f2fa2;
    background-image: url('/assets/images/ShowcaseV1.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    overflow-y: scroll;
}

.divider {
    width: 80%;
    height: 1px;
    background: #F64C72;
    border: 0;
    margin-left: 0;
}

@media screen and (min-width: 601px) {
    .welcome {  font-size: 3em;  }

    .infoLabel { font-size: 1.8em; }

    .container { padding: 7.5% 50% 0px 13%; }

    html{ 
        -webkit-background-size: auto;
        background-size: auto 100sv;
    }
}
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {

    .welcome {  font-size: 2em; }

    .infoLabel { font-size: 0.8em;  }

    .container { padding: 25% 20% 0 0; }

    html { 
        -webkit-background-size: 100%;
        background-size: auto 100%; 
    }

    .downloadBtn { margin-left: 13%; }
}

.welcome {
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0px 0px 0.3em #000000;
}

.infoLabel {
    color: #ffffff;
    text-shadow: 0px 0px 2px #000000;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 20px 0;
}
    
.site-header { display: none}

a.downloadBtn {
    color: #fff;
    border-radius: 0.2em;
    font-family: $sarala;
    border: 0;
    background-color: #F64C72;
    box-shadow: 0px 0px 3em #000000;
    padding: 14px 40px;
    font-size: 1em;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
}

.redditButton, .twitterButton, .linkedButton, .mailButton {
    text-decoration: none;
}

.fa-reddit {
    background-color: #ff4500;
}

.fa-twitter {
    background-color: #1da1f2;
}

.fa-linkedin {
    background-color: #0077b5;
}

.fa-envelope {
    background-color: #ea4335;
}

.fa-reddit, .fa-envelope, .fa-linkedin, .fa-twitter {
    padding: 0.75em;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 50%;
    color: white;
}


.fa-apple { 
    margin-left: 5px; 
}

.buttonHolder { text-align: center; }

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
a:hover{
    opacity: 0.8;
}