$sarala: 'Sarala', sans-serif;

body{
    font-family: $sarala;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 110vh;
}

#home {
    background-image: url('/assets/images/ShowcaseV1.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    margin-bottom: 10px;
}
html {
    background-color: #2f2fa2;
}

#section {
    -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.divider {
    width: 80%;
    height: 1px;
    background: #F64C72;
    border: 0;
}

.divider-Home {
    margin-left: 0;
}

.divider-User-Agreement {
    width: 50%;
}

.welcome {
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0px 0px 0.3em #000000;
}

.infoLabel {
    color: #ffffff;
    text-shadow: 0px 0px 0.7em #000000;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 20px 0;
}
    
.site-header { display: none}

a.downloadBtn {
    color: #fff;
    border-radius: 0.2em;
    font-family: $sarala;
    border: 0;
    background-color: #F64C72;
    box-shadow: 0px 0px 2em #000000;
    padding: 14px 40px;
    margin-top: 1.4em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a.downloadBtn2 {
    color: #fff;
    border-radius: 0.2em;
    font-family: $sarala;
    border: 0;
    background-color: #89CFF0;
    box-shadow: 0px 0px 2em #000000;
    padding: 14px 40px;
    margin-top: 1.4em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.redditButton, .twitterButton, .linkedButton, .mailButton {
    text-decoration: none;
}

.fa-reddit {
    background-color: #ff4500;
}

.fa-twitter {
    background-color: #1da1f2;
}

.fa-linkedin {
    background-color: #0077b5;
}

.fa-envelope {
    margin-right: 2.5%;
    background-color: #ea4335;
}

.fa, .fab:not(.fa-apple) {
    padding: 0.75em;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 50%;
    color: white;
}

.fa-apple { 
    margin-left: 0.5em; 
}

.buttonHolder { 
    text-align: center; 
    right: 0;
    left: 0;
}

.footer {
    right: 0;
    left: 0;
    padding: 1rem;
    padding-top: 2em;
    text-align: center;
}

a:not(.copyright):hover{
    opacity: 0.8;
}

.footerLabel{
    color: #fff;
    border:none;
    font-family: $sarala;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 1em;
    text-align: center;
    display: inline-block;
}

.tosButton {
    cursor: pointer;
}

.TOSHeader {
    font-size: auto;
    text-align: center;
    margin-top: 0;
}

.TOS-Preface {
    font-size: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}

.TOS-Holder {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    outline: 3px solid #F64C72;
}

.TOS-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

.TOS-User-Agreement-Body {
    font-size: auto;
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    margin-top: 0;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #696969;
}

.TOS-User-Agreement-Header {
    font-size: auto;
    margin-top: 0;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.EffectiveLabel {
    font-size: auto;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.Disk { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

.LoadingDisk {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
    animation-direction: alternate;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(1440deg);
    }
}
//Different Screen Sizes Info

//iphone landscape
 
@media screen and (max-width : 767px) and (orientation : portrait) {

    .welcome {  font-size: 2em; }

    .infoLabel { font-size: 0.9em;  }

    .container { padding: 15% 20% 0 0; }

    html { 
        -webkit-background-size: auto;
        background-size: auto 100%; 
    }

}

@media screen and (max-width: 767px) and (orientation : landscape){
    .welcome {  font-size: 2em; }

    .infoLabel { font-size: 0.9em;  }

    .container { padding: 10vh 35% 0 0; }

    html { 
        -webkit-background-size: 100%;
        background-size: auto 100%; 
    }
    .tosButton { 
        font-size: 0.95em;
    }

}

@media screen and (min-width : 768px) and (max-width : 1023px)  {
    .welcome {  font-size: 2.7em;  }

    .infoLabel { font-size: 1.4em; }

    .container { padding: 7.5% 35vw 0px 13%; }

    .downloadBtn { font-size: 1.5em;}

    html{ 
        -webkit-background-size: auto;
        background-size: auto 100sv;
    }
    .fa, .fab:not(.fa-apple) {
        font-size: 150%;
    }
    .TOS-Holder { width: 80%; }

}

@media screen and (min-width : 768px) and (max-width : 812px) and (orientation : landscape){
    .welcome {  font-size: 2.1em;  }

    .infoLabel { font-size: 1.1em; }

    .container { padding: 7.5% 35vw 0px 13%; }

    .downloadBtn { font-size: 1.2em;}

    html{ 
        -webkit-background-size: auto;
        background-size: auto 100sv;
    }
    .fa, .fab:not(.fa-apple) {
        font-size: 150%;
    }

}

@media screen and (min-width: 1024px) {
    .welcome {  font-size: 2.5em;  }

    .infoLabel { font-size: 1.2em; }

    .container { padding: 10% 50% 0px 13%; }

    .downloadBtn { font-size: 1.5em;}

    html{ 
        -webkit-background-size: auto;
        background-size: auto 100sv;
    }

    .fa, .fab:not(.fa-apple) {
        font-size: 120%;
    }

    .TOS-Holder { width: 70%; }

    .TOS-Header, .TOS-User-Agreement-Header { font-size: 2.1em; }

    .TOS-Preface, .TOS-User-Agreement-Body { font-size: 1.3em; }

    .TOS-logo {width: 65%;}

}

@media screen and (min-width: 1024px) and (orientation : portrait){
    .welcome {  font-size: 3em;  }

    .infoLabel { font-size: 1.6em; }

    .container { padding: 20% 35vw 0px 13%; }

    .downloadBtn { font-size: 1.5em;}

    html{ 
        -webkit-background-size: auto;
        background-size: auto 100sv;
    }
    .tosButton { 
        font-size: 1.5em;
    }

    .fa, .fab:not(.fa-apple) {
        font-size: 150%;
    }

    .TOS-Holder { width: 75%; }

    .TOS-Header, .TOS-User-Agreement-Header { font-size: 2.9em; }

    .TOS-Preface, .TOS-User-Agreement-Body { font-size: 2em; }
}
