$cairo: 'Cairo', sans-serif;
$cairo-bold: 'Cairo-bold', sans-serif;

body {
    font-family: $cairo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

html {
    background-color: #060606;
}

#section {
    -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.divider {
    width: 80%;
    height: 1px;
    background: #F64C72;
    border: 0;
}

.divider-User-Agreement {
    width: 50%;
}

.header-button {
    color: #000000;
    font-family: $cairo;
    text-decoration: none;
    padding: 0 10%;
}

.container {
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-image: url('/assets/images/DeskBackground.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

.screenshot-info {
    width: 30%;
    padding: 0 10%;
}

.screenshot {
    width: 30%;
    padding: 0 10%;
}

.infoLabel {
    color: white;
    font-weight: 1000;
    letter-spacing: 1px;
    margin: 20px 0;
    text-align: left;
    font-family: $cairo-bold;
}

a.downloadBtn {
    color: #fff;
    border-radius: 0.2em;
    font-family: $cairo;
    border: 0;
    background-color: #F64C72;
    box-shadow: 0px 0px 2em #000000;
    padding: 14px 40px;
    margin-top: 1.4em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a.changePassword {
    color: #fff;
    border-radius: 5px;
    font-family: $cairo;
    background-color: #2f2fa2;
    padding: 10px 40px;
    margin-top: 1.4em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a.downloadBtn2 {
    color: #fff;
    border-radius: 0.2em;
    font-family: $cairo;
    border: 0;
    background-color: #F64C72;
    box-shadow: 0px 0px 1em #000000;
    padding: 14px 40px;
    margin-top: 1.4em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.redditButton, .twitterButton, .linkedButton, .mailButton {
    text-decoration: none;
}

.fa-reddit {
    background-color: #ff4500;
}

.fa-twitter {
    background-color: #1da1f2;
}

.fa-linkedin {
    background-color: #0077b5;
}

.fa-envelope {
    margin-right: 2.5%;
    background-color: #ea4335;
}

.fa, .fab:not(.fa-apple) {
    padding: 0.75em;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 50%;
    color: white;
}

.fa-apple { 
    margin-left: 0.5em; 
}

.buttonHolder { 
    text-align: center; 
    right: 0;
    left: 0;
}

.header {
    right: 0;
    left: 0;
    padding: 1rem;
    padding-top: 2em;
    text-align: center;
}

a:not(.copyright):hover{
    opacity: 0.8;
}

.footerLabel{
    color: #fff;
    border:none;
    font-family: $cairo;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 1em;
    text-align: center;
    display: inline-block;
}

.tosButton {
    cursor: pointer;
}

.TOSHeader {
    font-size: auto;
    text-align: center;
    margin-top: 0;
}

.TOS-Preface {
    font-size: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}

.TOS-Holder {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    outline: 3px solid #F64C72;
}

.TOS-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.TOS-User-Agreement-Body {
    font-size: auto;
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    margin-top: 0;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #696969;
}

.TOS-User-Agreement-Header {
    font-size: auto;
    margin-top: 0;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.EffectiveLabel {
    font-size: auto;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

//Different Screen Sizes Info

//iphone landscape
 
@media screen and (max-width : 767px) and (orientation : portrait) {

    .welcome {  font-size: 2em; }

    .infoLabel{ font-size: 0.9em;  }

    .Disk, .LoadingDisk { width: 60% }

    .newPasswordField { width: 60%; font-size: 0.9em; }

    .container { display: inline-block; }

    .screenshot-info { width: 95%; margin: 0 auto; padding: 0}

    .screenshot { width: 75%; margin: auto; padding: 0}

    .screenshot-flipped { width: 75%; margin: auto; padding: 0; order: 1;}

}

@media screen and (max-width: 767px) and (orientation : landscape){
    .welcome {  font-size: 2em; }

    .infoLabel { font-size: 0.9em;  }

    .Disk, .LoadingDisk { width: 40% }

    .newPasswordField { width: 60%; font-size: 0.9em; }

    .tosButton { 
        font-size: 0.95em;
    }
    .TOS-logo {width: 20%;}

    .container { display: inline-block; }

    .screenshot-info { width: 70%; margin: 0 auto; padding: 0}

    .screenshot { width: 50%; margin: auto; padding: 0}

    .screenshot-flipped { width: 50%; margin: auto; padding: 0; order: 1;}

}

@media screen and (min-width : 768px) and (max-width : 1023px)  {
    .welcome {  font-size: 2.7em;  }

    .infoLabel { font-size: 1.4em; }

    .downloadBtn { font-size: 1.5em;}

    .newPasswordField { width: 60%; font-size: 1.3em; }

    .fa, .fab:not(.fa-apple) {
        font-size: 150%;
    }

    .TOS-Holder { width: 80%; }

    .Disk, .LoadingDisk { width: 40% }

    .TOS-logo {width: 25%;}

    .container { display: inline-block; }

    .screenshot-info { width: 70%; margin: 0 auto; padding: 0}

    .screenshot { width: 50%; margin: auto; padding: 0}

    .screenshot-flipped { width: 50%; margin: auto; padding: 0; order: 1;}
}

@media screen and (min-width : 768px) and (max-width : 812px) and (orientation : landscape){
    .welcome {  font-size: 2.1em;  }

    .infoLabel { font-size: 1.1em; }

    .downloadBtn { font-size: 1.2em;}

    .newPasswordField { width: 60%; font-size: 1em; }

    .fa, .fab:not(.fa-apple) {
        font-size: 150%;
    }

    .Disk, .LoadingDisk { width: 40% }

    .TOS-logo {width: 25%;}

    .container { display: inline-block; }

    .screenshot-info { width: 70%; margin: 0 auto; padding: 0}

    .screenshot { width: 50%; margin: auto; padding: 0}

    .screenshot-flipped { width: 50%; margin: auto; padding: 0; order: 1;}
}

@media screen and (min-width: 1024px) {
    .welcome {  font-size: 2.5em;  }

    .header-button{ font-size: 2.5em; }

    .infoLabel { font-size: 7em; }

    .downloadBtn { font-size: 1.5em;}

    .newPasswordField { width: 30%; font-size: 1.1em; }

    .fa, .fab:not(.fa-apple) {
        font-size: 120%;
    }

    .TOS-Holder { width: 70%; }

    .TOS-Header, .TOS-User-Agreement-Header { font-size: 2.1em; }

    .TOS-Preface, .TOS-User-Agreement-Body { font-size: 1.3em; }

    .TOS-logo {width: 25%;}

    .Disk, .LoadingDisk { width: 200px }

    .screenshot, .screenshot-info { display: inline-block;}
}

@media screen and (min-width: 1024px) and (orientation : portrait){
    .welcome {  font-size: 3em;  }

    .infoLabel { font-size: 1.6em; }

    .downloadBtn { font-size: 1.5em;}

    .newPasswordField { width: 60%; font-size: 1.5em; }

    .tosButton { 
        font-size: 1.5em;
    }

    .fa, .fab:not(.fa-apple) {
        font-size: 150%;
    }

    .TOS-logo {width: 25%;}

    .TOS-Holder { width: 75%; }

    .TOS-Header, .TOS-User-Agreement-Header { font-size: 2.9em; }

    .TOS-Preface, .TOS-User-Agreement-Body { font-size: 2em; }

    .Disk, .LoadingDisk { width: 200px }

    .container { display: inline-block; }

    .screenshot-info { width: 80%; margin: 0 auto; padding: 0}

    .screenshot { width: 80%; margin: auto; padding: 0}

    .screenshot-flipped { width: 60%; margin: auto; padding: 0; order: 1;}
}