<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}{{page.title}}</title>
    <!-- Open Graph Stuff ------->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Jack Windham">
    <meta property="og:description" content= "{{ page.title }}">
    <meta property="og:image" content="https://jackwindham.com/{{page.picture}}">
    <meta property="og:url" content="https://jackwindham.com">
    <link rel="shortcut icon" type="image/png" href="/fav-icon-disk.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <header class="header">
    <a href="https://twitter.com/{{ site.twitter_username }}" class="twitterButton">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="linkedButton">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:jckwind11@vt.edu" class="mailButton">
      <i class="fa fa-envelope"></i>
    </a>
    <a href="https://cordia.app" class="footerLabel tosButton">Cordia</a>
  </header>
  <section id="section">
    {{ content }}
  </section>
</html>
