<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Open Graph Stuff ------->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="Social Media for Music">
    <meta property="og:image" content="https://cordia.app/open-graph-preview.png">
    <meta property="og:url" content="http://cordia.app/index.html">
    <link rel="shortcut icon" type="image/png" href="/fav-icon-disk.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <section id="section">
    {{ content }}
  </section>
  <footer class="footer">
      <a href="https://twitter.com/{{ site.twitter_username }}" class="twitterButton">
          <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.reddit.com/r/Cordia/" class="redditButton">
          <i class="fab fa-reddit"></i>
      </a>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="linkedButton">
          <i class="fab fa-linkedin"></i> 
      </a>
      <a href="mailto:contact@cordia.app" class="mailButton">
          <i class="fa fa-envelope"></i>
      </a>
      <a href="https://cordia.app/tos" class="tosButton">Terms of Service</a>
      <a href="https://cordia.app/privacy" class="tosButton">Privacy Policy</a>
  </footer>
</html>